.chart {
  flex: 4;
  box-shadow: -5px 5px 25px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 5px 25px -7px rgba(0, 0, 0, 0.75);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 20px;
  }
  .chartGrid {
    stroke: rgb(245, 243, 243);
  }
}
