.navbar {
  height: 50px;
  color: #555;
  border-bottom: 0.5px solid rgb(231, 228, 229);
  display: flex;
  font-size: 16px;
  align-items: center;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    .search {
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid lightgray;
      padding: 3px;

      input {
        outline: none;
        border: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        padding-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }
        .avator {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .counter {
          width: 15px;
          height: 15px;
          background: red;
          color: white;
          font-size: 10px;
          font-weight: bold;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          display: flex;
          position: absolute;
          top: -5px;
          right: 13px;
        }
      }
    }
  }
}
